.search-button-submit {
    cursor: pointer !important;
}

.search-button-x {
    cursor: pointer !important;
}

.info-desc-button {
    cursor: pointer !important;
}

.show-buy-tickets {
    cursor: pointer !important;
}

.news-go-to-article {
    cursor: pointer !important;
}

