/* Splash Screen */

#splash-screen {
	background-image: url(../images/splash-portrait-singer.jpg);
	background-size: cover;
	background-position: center;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	top: 56px;
    left: 0;
    text-align: center;
}


#splash-title {
    position: relative;
    z-index: 1001;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 8vmin;
    line-height: 10vmin;
    color: white;
    text-align: center;
    text-shadow: 0 2px 10px #202020;
}

#splash-title-2 {
    position: relative;
    z-index: 1002;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 6vmin;
    line-height: 10vmin;
    color: white;
    text-align: center;
    text-shadow: 0 2px 5px #202020;
}



#myInputSplash {
	float: left;
	border: 1px solid var(--secondaryColorLight);
}

#splash-search-bar {
    width: 40%;
    margin: 0 auto;
    margin-top: 15px;
}

@media only screen and (max-width:500px) and (min-width: 200px) {
 
    #splash-title {
        margin-top: 30%;
    }

}


@media only screen and (max-width:813px) {

    #splash-screen {
        background-image: url(../images/splash-vertical-blue.jpg);
    }


    #splash-title {
        font-size: 8vmin;
        font-size: 10vmin;
        line-height: 10vmin;
        text-shadow: 0 2px 5px #202020;
        margin-top: 20%;
    }


}

@media only screen and (min-width: 814px) {
    #splash-title {
        margin-top: 15%;
    }
}
